block css
	link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
block script
	script(src='/components/jquery/dist/jquery.js')
	script(src='/components/bootstrap/dist/js/bootstrap.js')