extend layout
block content
	a(href='/') 首页
	.container
		h1 #{title}
		.row
			table#btctbtable.table-hover.table-bordered.text-center
				thead
					tr
						th.col-md-1.text-center 序号
						th.col-md-2.text-center 市场
						th.col-md-2.text-center 最新成交价
						th.col-md-2.text-center 卖一
						th.col-md-2.text-center 买一
						th.col-md-3.text-center 24小时成交总量
				tbody
					tr#okcoinBtc
						td 1
						td OKCOIN
						td
						td
						td
						td
					tr#huobiBtc
						td 2
						td 火币
						td
						td
						td
						td
					tr#btccBtc
						td 3
						td 比特币中国
						td
						td
						td
						td
					tr#chbtcBtc
						td 4
						td 中国比特币
						td
						td
						td
						td
	hr
	.container
		.row
			p.userInfoError OK账户信息
			table.table
				tr#userInfo
					td.col-md-1 可用
					td.col-md-2.free_cny
					td.col-md-2.free_btc
					td.col-md-1.ltc
					td.col-md-1 冻结
					td.col-md-2.cny
					td.col-md-2.btc
					td.col-md-1.ltc
	hr
	.container
		.row
			p OK 交易
			.col-md-5
				table#trade_price.table.table-hover.text-center
					tr.active
						td <strong>买卖</strong>
						td <strong>价格(￥)</strong>
						td <strong>委托单(btc)</strong>
					tr#sell-5.text-danger
						td 卖(5)
						td 
						td
					tr#sell-4.text-danger
						td 卖(4)
						td
						td
					tr#sell-3.text-danger
						td 卖(3)
						td
						td
					tr#sell-2.text-danger
						td 卖(2)
						td
						td
					tr#sell-1.text-danger
						td 卖(1)
						td
						td
					tr#buy-1.text-success
						td 买(1)
						td
						td
					tr#buy-2.text-success
						td 买(2)
						td
						td
					tr#buy-3.text-success
						td 买(3)
						td
						td
					tr#buy-4.text-success
						td 买(4)
						td
						td
					tr#buy-5.text-success
						td 买(5)
						td
						td
					tr.info
						td 合并深度
						td(colspan='2')
							div.btn-group(data-toggle="buttons")
								label#option1.btn.btn-primary.active 0.01
									input(type='radio',name='options',autocomplete='off',checked='checked')
								label#option2.btn.btn-primary.active 0.1
									input(type='radio',name='options',autocomplete='off') 
								label#option3.btn.btn-primary.active 1
									input(type='radio',name='options',autocomplete='off') 
			.col-md-7
				.panel.panel-default
					.panel-heading
						h3.panel-title 买入/卖出
					table.table
						th 价格
						th 数量
						th 金额
						tr
							td
								input(type='text',name='price')
								span &nbsp;&nbsp;&nbsp;&nbsp;✖️
							td
								input(type='text',name='amount')
								span &nbsp;&nbsp;&nbsp;&nbsp;＝
							td 
								input(type='text',name='total')
						tr
							td(colspan='3')
								button#buyBtn.btn.btn-primary 买入
								span.buyError.text-danger
								span.buyMsg.text-success
						tr
							td(colspan='3')
								button#sellBtn.btn.btn-primary 卖出
								span.sellError.text-danger
								span.sellMsg.text-success
				.panel.panel-default
					.panel-heading
						h3.panel-title 未成交记录
					table#nodealTab.table
						tr.active
							td 委托时间
							td 委托类别
							td 委托数量
							td 委托价格
							td 成交数量
							td 平均成交价
							td 尚未成交
							td 操作

	hr
	.container
		.row
			.col-md-5
			.col-md-7
				.panel.penel-default
					.panel-heading
						h3.panel-title 自动套利
					.panel-body
						btn#autoProfitOn.btn.btn-primary 开启
						btn#autoProfitOff.btn.btn-primary 关闭










	script(src='/js/price.js')

